{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="main">
        <div class="pricing-header mb-5 mx-auto text-center">
            <h1 class="display-4 mb-3 text-white">INTC Cloud</h1>
            <p class="lead mb-5 text-white">Сохраните свои документы в безопасном хранилище INTC Cloud.</p>
            <a href="#" class="btn btn-outline-light btn-lg">Подробнее</a>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading mb-4">Безопасный способ хранения файлов на <span class="text-muted">виртуальном сервере</span></h2>
                    <p class="lead">Благодаря INTC Cloud хранилище объектов полезно для размещения статических ресурсов, например, для сохранения рабочих учебных программ. Это безопасно по сколько портал работает с VPS для дистанционного подключения.</p>
                </div>
                <div class="col-md-5">
                    <img src="{% static '/img/vps-logo.png' %}" class="mb-5" width="100%" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}